#linklist{
    float: right;
    position: relative;
    top: -38px;
}
#linklist button{
    background-color: rgba(250, 128, 114, 0); 
    border: 2px solid white;
    padding: 10px 15px;
    border-radius: 25px;
    font-family:  "Josefin Sans";
    margin-right: 5px;
    font-size: 14px;
    color: white;
    transition: background-color 0.3s;
}
#linklist button:hover{
    background-color: white;
    color: #F26C65;
    cursor: pointer;
}
#product{
    width: 100%;
    height: auto;
    position: relative;
}
.text_product1{
    font-family: "Noto Sans Thai";
    font-size: 64px;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
    color: white;
    justify-content: center;
    
    left: 200px;
}
.text_product2{
    font-family: "Josefin Sans";
    font-size: 48px;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
    color: white;
    justify-content: center;
    top: 100px;
    left: 200px;
}
.text_product3{
    font-family: "Noto Sans Thai";
    font-size: 18px;
    text-align: left;
    width: 560px;
    height: auto;
    position: relative;
    color: white;
    justify-content: center;
    top: 100px;
    left: -100px;
    margin-top: 100px;
    float: right;
}

#product-image{
    margin-top: 100px;
    margin-left: -100px;
    width:600px;
    transform: scaleX(-1);
    animation: float 4.5s ease-in-out infinite;
}

#decor-1 {
    width: 18%;
    height: auto;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    width: 300px;
    height: auto;
    position: relative;
    float: right;
    top: -300px;
    right: 360px;
}
.color-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #cccccc00;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
}
.color-button:hover {
    transform: scale(1.1);
}
.color-button.selected {
    border: 2px solid #ffffff; 
}


#color1 { background-color: #F15970; }
#color2 { background-color:  #DF4D57; }
#color3 { background-color: #D8323C; }
#color4 { background-color: #B5333D; }
#color5 { background-color: #BA3F38; }
#color6 { background-color: #BE302C; }
#color7 { background-color: #B0665B; }
#color8 { background-color: #CD4A74; }
#color9 { background-color: #FA6E7B; }
#color10 { background-color: #923A38; }
#color11 { background-color: #C3485D; }
#color12 { background-color: #FF614B; }
#color13 { background-color: #D97D64; }
#color14 { background-color: #E57172; }
#color15 { background-color: #F55D6A; }
#color16 { background-color: #F59B9A; }
#color17 { background-color: #FD777E; }
#color18 { background-color: #FE8568; }
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6e4ff00;
    padding: 20px 50px;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #fff;
    font-size: 18px;
    top: 20px;
}

.contact-info,
.social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-info p,
.social-media p {
    margin: 5px 0;
    color: #FFFFFF;
}

.social-icons {
    display: flex;
    gap: 15px;
    color: white;
    font-size: 15px;
}
.flower{
    position: static;

}

.lipTexture{
    width: 180px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: 480px;
    left: 900px;
}
.texture_buttom{
    width: 100px;
    height: 40px;
    margin: 10px;
    color: #F26C65;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Josefin Sans";
    font-size: 16px;
    transition: background-color 0.5s;
    transition: color 0.5s;
}
.texture_buttom:hover{
    color: white;
    background-color: #F26C65;
}
.line1{
    border: 2px solid white;
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: "Josefin Sans";
    color: #F26C65;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    background-color: #fff;
    border: 1px solid #F26C65;
    color: #F26C65;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    border-radius: 5px;
}

.quantity-controls input {
    width: 30px;
    height: 30px;
    border: 1px solid #F26C65;
    color: #F26C65;
    text-align: center;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 16px;
}

.go-to-cart {
    background-color: #F26C65;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    float: inline-end;
    margin-top: 20px;
}

